<h1 mat-dialog-title>airline</h1>
<div mat-dialog-content>
    <form fxLayout="column" #airlineForm="ngForm">
       <div fxLayout="row wrap" fxLayoutGap="30px">
           <mat-form-field fxFlex>
                <input matInput placeholder="Airlinecode" name="airlineCode"[(ngModel)]="airlineObj.airlineCode"
#airlineCode="ngModel"  >
            
            </mat-form-field>
      
</div>
<div fxLayout="row wrap" fxLayoutGap="30px">
           <mat-form-field fxFlex>
                <input matInput placeholder="Airlinename" name="airlineName"[(ngModel)]="airlineObj.airlineName"
#airlineName="ngModel"  >
            
            </mat-form-field>
      
</div>
<div fxLayout="row wrap" fxLayoutGap="30px">
           <mat-form-field fxFlex>
                <input matInput placeholder="Airlineplate" name="airlinePlate"[(ngModel)]="airlineObj.airlinePlate"
#airlinePlate="ngModel"  >
            
            </mat-form-field>
      
</div>
<div fxLayout="row wrap" fxLayoutGap="30px">
           <mat-form-field fxFlex>
                <input matInput placeholder="Airlinetimestamp (dd-mm-yyyy)"
                    [ngModel]="airlineObj.airlineTimestamp | date:'dd-MM-yyyy'" name="airlineTimestamp"
                    pattern="(^(((0[1-9]|1[0-9]|2[0-8])[-](0[1-9]|1[012]))|((29|30|31)[-](0[13578]|1[02]))|((29|30)[-](0[4,6,9]|11)))[-](19|[2-9][0-9])\d\d$)|(^29[-]02[-](19|[2-9][0-9])(00|04|08|12|16|20|24|28|32|36|40|44|48|52|56|60|64|68|72|76|80|84|88|92|96)$)">
                <input matInput [hidden]='true' [matDatepicker]="airlineTimestampPicker" name="hiddenawardDate"
                    [(ngModel)]="airlineObj.airlineTimestamp">
                <mat-datepicker-toggle matSuffix [for]="airlineTimestampPicker"></mat-datepicker-toggle>
                <mat-datepicker #airlineTimestampPicker></mat-datepicker>
            </mat-form-field>
      
</div>
<div fxLayout="row wrap" fxLayoutGap="30px">
           <mat-form-field fxFlex>
                <input matInput placeholder="Airlineactive" name="airlineActive"[(ngModel)]="airlineObj.airlineActive"
#airlineActive="ngModel"  >
            
            </mat-form-field>
      
</div>


    </form>
</div>

<div mat-dialog-actions>
    <div fxLayout="row wrap" fxFlex fxLayoutGap="10px" fxLayoutAlign="end start">
        <button mat-button mat-dialog-close tabindex="-1" cdkFocusInitial>Cancel</button>
        <button mat-raised-button color="primary" [disabled]="!airlineForm.valid || !airlineForm.dirty"
            (click)="saveairline(airlineObj)">
            Add/Update
        </button>
    </div>
</div>