<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon">
              <i class="material-icons">people_alt</i>
            </div>
            <h4 class="card-title float-left">CustomerInformation</h4>
            <button mat-raised-button class="float-right" color="primary" style="margin-top: 10px;"
              (click)="addDialog()">
              Add
            </button>
          </div>
          <div class="card-body">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover" width="100%">
              <thead>
                <tr>
                 <td>Id</td>
<td>Customerıd</td>
<td>Emailıd</td>
<td>Title</td>
<td>Firstname</td>
<td>Lastname</td>
<td>Gender</td>
<td>Alternativeemailıd</td>
<td>Telephone</td>
<td>Mobile</td>
<td>Countrycode</td>
<td>Languagecode</td>
<td>Officetelephone</td>
<td>Dateofbirth</td>
<td>Fax</td>
<td>Nationalitycode</td>
<td>Agentcode</td>
<td>Customerıd_n</td>
<td>Totalpaxcount</td>
<td>Totalınfantcount</td>
<td>Totalfare</td>
<td>Totaltaxchg</td>
<td>Bookingstatus</td>
<td>Modificationdate</td>
<td>Fıle_ıd</td>
<td>Fıle_name</td>
<td>Recorddatestamp</td>

                  <th class="text-right" data-orderable="false" data-priority="2">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let dto1 of dtos">
                

                   <td>{{dto1['ıd']}}</td>
 <td>{{dto1['customerId']}}</td>
 <td>{{dto1['emailId']}}</td>
 <td>{{dto1['title']}}</td>
 <td>{{dto1['firstName']}}</td>
 <td>{{dto1['lastName']}}</td>
 <td>{{dto1['gender']}}</td>
 <td>{{dto1['alternativeEmailId']}}</td>
 <td>{{dto1['telephone']}}</td>
 <td>{{dto1['mobile']}}</td>
 <td>{{dto1['countryCode']}}</td>
 <td>{{dto1['languageCode']}}</td>
 <td>{{dto1['officeTelephone']}}</td>
 <td>{{dto1['dateOfBirth'] | date }}</td>
 <td>{{dto1['fax']}}</td>
 <td>{{dto1['nationalityCode']}}</td>
 <td>{{dto1['agentCode']}}</td>
 <td>{{dto1['customerId_N']}}</td>
 <td>{{dto1['totalpaxcount']}}</td>
 <td>{{dto1['totalInfantcount']}}</td>
 <td>{{dto1['totalFare']}}</td>
 <td>{{dto1['totalTaxChg']}}</td>
 <td>{{dto1['bookingStatus']}}</td>
 <td>{{dto1['modificationDate'] | date }}</td>
 <td>{{dto1['fILE_ID']}}</td>
 <td>{{dto1['fILE_NAME']}}</td>
 <td>{{dto1['recordDateStamp'] | date }}</td>

                  <td class="text-right">
                    <a href="javascript:void(0)" (click)="editDialog(dto1)"
                      class="btn btn-link btn-warning btn-just-icon edit">
                      <i class="material-icons">dvr</i>
                    </a>
                    <a href="javascript:void(0)" (click)="deleteDialog(dto1)"
                      class="btn btn-link btn-danger btn-just-icon remove">
                      <i class="material-icons">close</i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>