<h1 mat-dialog-title>exchangerates</h1>
<div mat-dialog-content>
    <form fxLayout="column" #exchangeratesForm="ngForm">
       <div fxLayout="row wrap" fxLayoutGap="30px">
           <mat-form-field fxFlex>
                <input matInput placeholder="Currencyıdfrom" name="currencyIdFrom"[(ngModel)]="exchangeratesObj.currencyIdFrom"
#currencyIdFrom="ngModel"  >
            
            </mat-form-field>
      
</div>
<div fxLayout="row wrap" fxLayoutGap="30px">
           <mat-form-field fxFlex>
                <input matInput placeholder="Currencyıdto" name="currencyIdTo"[(ngModel)]="exchangeratesObj.currencyIdTo"
#currencyIdTo="ngModel"  >
            
            </mat-form-field>
      
</div>
<div fxLayout="row wrap" fxLayoutGap="30px">
           <mat-form-field fxFlex> 
                <input matInput placeholder="Exravalue" type="number" name="exRaValue"[(ngModel)]="exchangeratesObj.exRaValue"
#exRaValue="ngModel"   >
               
            </mat-form-field>
      
</div>
<div fxLayout="row wrap" fxLayoutGap="30px">
           <mat-form-field fxFlex>
                <input matInput placeholder="Exradate (dd-mm-yyyy)"
                    [ngModel]="exchangeratesObj.exRaDate | date:'dd-MM-yyyy'" name="exRaDate"
                    pattern="(^(((0[1-9]|1[0-9]|2[0-8])[-](0[1-9]|1[012]))|((29|30|31)[-](0[13578]|1[02]))|((29|30)[-](0[4,6,9]|11)))[-](19|[2-9][0-9])\d\d$)|(^29[-]02[-](19|[2-9][0-9])(00|04|08|12|16|20|24|28|32|36|40|44|48|52|56|60|64|68|72|76|80|84|88|92|96)$)">
                <input matInput [hidden]='true' [matDatepicker]="exRaDatePicker" name="hiddenawardDate"
                    [(ngModel)]="exchangeratesObj.exRaDate">
                <mat-datepicker-toggle matSuffix [for]="exRaDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #exRaDatePicker></mat-datepicker>
            </mat-form-field>
      
</div>
<div fxLayout="row wrap" fxLayoutGap="30px">
           <mat-form-field fxFlex>
                <input matInput placeholder="Exratimestamp" name="exRaTimestamp"[(ngModel)]="exchangeratesObj.exRaTimestamp"
#exRaTimestamp="ngModel"  >
            
            </mat-form-field>
      
</div>
<div fxLayout="row wrap" fxLayoutGap="30px">
           <mat-form-field fxFlex>
                <input matInput placeholder="Exraactive" name="exRaActive"[(ngModel)]="exchangeratesObj.exRaActive"
#exRaActive="ngModel"  >
            
            </mat-form-field>
      
</div>


    </form>
</div>

<div mat-dialog-actions>
    <div fxLayout="row wrap" fxFlex fxLayoutGap="10px" fxLayoutAlign="end start">
        <button mat-button mat-dialog-close tabindex="-1" cdkFocusInitial>Cancel</button>
        <button mat-raised-button color="primary" [disabled]="!exchangeratesForm.valid || !exchangeratesForm.dirty"
            (click)="saveexchangerates(exchangeratesObj)">
            Add/Update
        </button>
    </div>
</div>