@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="login">
	<div class="login-content">
		<h1>@ViewData["Title"]</h1>
		<section>
				<form id="account" method="post">
						<p>Use a local account to log in.</p>
						<div asp-validation-summary="ModelOnly" class="text-danger"></div>
						<div class="form-floating mb-3">
								<input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
								<label asp-for="Input.Email" class="form-label"></label>
								<span asp-validation-for="Input.Email" class="text-danger"></span>
						</div>
						<div class="form-floating mb-3">
								<input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
								<label asp-for="Input.Password" class="form-label"></label>
								<span asp-validation-for="Input.Password" class="text-danger"></span>
						</div>
						<div class="mb-2">
								<div class="form-check">
										<label asp-for="Input.RememberMe" class="form-label">
												<input class="form-check-input" asp-for="Input.RememberMe" />
												@Html.DisplayNameFor(m => m.Input.RememberMe)
										</label>
								</div>
						</div>
						<div class="mb-3">
								<button id="login-submit" type="submit" class="w-100 btn btn-lg btn-outline-theme">Log in</button>
						</div>
						<div class="mb-4">
								<div class="">
										<a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
								</div>
								<div class="">
										<a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
								</div>
								<div class="">
										<a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
								</div>
						</div>
				</form>
		</section>
		<hr class="my-4" />
		<section>
				 
				@{
						 
								<div>
									
                                    	<a href="javascript:void(0)" onclick="LoadRemote2('page')" title="Kullanım Koşulları / Gizlilik Güvenlik">Kullanım Koşulları / Gizlilik Güvenlik</a>
                                        <div class="space20px"></div>
										<p>Zaren Travel - Ataköy 7-8-9-10 Mh. Çobançeşme E-5 Yanyol No:16/1/A Selenium Retro-9 A Blok K:18 D:130 34158 - Istanbul - Turkey<br><br>
0850 380 00 34 | <a href="https://wa.me/905425523685" style="color:inherit;font-weight:normal" target="_blank">+90 542 552 36 85</a> info@zarengroup.com</p>

								</div>
						 
				}
		</section>
	</div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
