@inherits LayoutComponentBase
<RadzenDialog />
<RadzenNotification />
<RadzenTooltip />
<RadzenContextMenu />

<RadzenLayout>

    <RadzenBody>
        <main>
            <div class="preloader js-preloader" style="display:none">
                <div class="preloader__wrap">
                    <div class="preloader__icon">
                        <img src="img/a23.gif" />
                    </div>
                </div>

                <div class="preloader__title"><img width="200" src="img/brand-primary.png" /></div>
            </div>
            <!-- PRELOAD END -->
            <!-- HEADER -->
            <div class="header-margin"></div>
            <header data-add-bg="" class="header bg-blue-1 shadow-3 js-header" data-x="header" data-x-toggle="is-menu-opened">
                <div class="container ">
                    <div class="row justify-between items-center">
                        <div class="col-auto">
                            <div class="d-flex items-center">
                                <!-- LOGO -->
                                <a href="#" class="header-logo mr-30" data-x="header-logo" data-x-toggle="is-logo-dark">
                                    <img src="https://zarentravel.com/css/clientes/zarentravel/images/logo.gif" alt="logo icon" />
                                    <img src="https://zarentravel.com/css/clientes/zarentravel/images/logo.gif" alt="logo icon" />
                                </a>
                                <!-- LOGO END-->
                            </div>
                        </div>

                        <div class="col-auto">
                            <div class="d-flex items-center">
                                <div class="row x-gap-20 items-center">
                                    <div class="header-menu " data-x="mobile-menu" data-x-toggle="is-menu-active">
                                        <div class="mobile-overlay"></div>
                                        <div class="header-menu__content">
                                            <div class="mobile-bg js-mobile-bg"></div>
                                            <div class="menu js-navList">
                                                <ul class="menu__nav text-dark-1 -is-active">
                                                    <!-- currenty unit -->
                                                    <li class="menu-item-has-children">
                                                        <a class="text-white" href="#">
                                                            <span class="mr-10">USD $</span>
                                                            <i class="icon icon-chevron-sm-down"></i>
                                                        </a>
                                                        <ul class="subnav">
                                                            <li class="subnav__backBtn js-nav-list-back">
                                                                <a href="#"><i class="icon icon-chevron-sm-down"></i> USD $</a>
                                                            </li>
                                                            <li><a href="#">TL ₺</a></li>
                                                            <li><a href="#">USD $</a></li>
                                                            <li><a href="#">EU €</a></li>
                                                            <li><a href="#">GBP £</a></li>
                                                        </ul>
                                                    </li>
                                                    <!-- currenty unit end -->
                                                    <li class="menu-item-has-children">
                                                        <a href="#" class="text-white">
                                                            <span class="mr-10">
                                                                <img width="26" src="img/general/en.svg" alt="image"
                                                                     class="rounded-4 mr-10"> English
                                                            </span>
                                                            <i class="icon icon-chevron-sm-down"></i>
                                                        </a>

                                                        <!-- language content -->
                                                        <ul class="subnav">
                                                            <li class="subnav__backBtn js-nav-list-back">
                                                                <a href="#">Turkey <i class="icon icon-chevron-sm-down"></i> Home</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <img width="26" src="img/general/tr.svg" alt="image"
                                                                         class="rounded-4 mr-10"> Turkey
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <img width="26" src="img/general/de.svg" alt="image"
                                                                         class="rounded-4 mr-10"> German
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <img width="26" src="img/general/ru.svg" alt="image"
                                                                         class="rounded-4 mr-10"> Russian
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <img width="26" src="img/general/en.svg" alt="image"
                                                                         class="rounded-4 mr-10"> English
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <img width="26" src="img/general/es.svg" alt="image"
                                                                         class="rounded-4 mr-10"> Español
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <img width="26" src="img/general/fr.svg" alt="image"
                                                                         class="rounded-4 mr-10"> Français
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <img width="26" src="img/general/it.svg" alt="image"
                                                                         class="rounded-4 mr-10"> Italiano
                                                                </a>
                                                            </li>
                                                        </ul>
                                                        <!-- language content end -->
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="mobile-footer px-20 py-20 border-top-light js-mobile-footer">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="d-flex items-center ml-20 is-menu-opened-hide md:d-none">
                                    <a href="#"
                                       class="button -outline-blue-1 px-30 fw-400 text-14 h-40 text-blue-1 text-white mr-20 border-white">Login</a>
                                    <a href="#"
                                       class="button -white border-white bg-blue-1 px-30 fw-400 text-14 h-40 text-white">Register</a>
                                </div>

                                <div class="d-none xl:d-flex x-gap-20 items-center pl-30" data-x="header-mobile-icons"
                                     data-x-toggle="text-white">
                                    <div>
                                        <a href="#" class="d-flex items-center icon-user text-inherit text-22"></a>
                                    </div>
                                    <div>
                                        <button class="d-flex items-center icon-menu text-inherit text-20"
                                                data-x-click="header, header-logo, header-mobile-icons, mobile-menu"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- HEADER END -->
            @Body



            <footer class="footer -type-2 bg-light-2">
                <div class="container">
                    <div class="pt-60 pb-60">
                        <div class="row y-gap-40 justify-content-center xl:justify-start">
                            <div class="col-xl-12 col-lg-12 text-center">
                                <img src="img/brand-primary.png" alt="image" />

                                <div class="row y-gap-30 justify-content-center pt-30">
                                    <div class="col-sm-3">
                                        <div class="text-18">Müşteri Destek Hattı</div>
                                        <a href="#" class="text-18 fw-500 text-dark-1 mt-5">+90 850 380 00 34</a>
                                    </div>

                                    <div class="col-sm-3 justify-content-center">
                                        <div class="text-16">Desteğe mi ihtiyacınız var?</div>
                                        <a href="#" class="text-18 fw-500 text-dark-1 mt-5">info@yuccatravel.com</a>
                                    </div>
                                </div>

                                <div class="row x-gap-20 y-gap-15 pt-30">
                                    <div class="col-12">
                                        <h5 class="text-18 fw-500">Adres</h5>
                                        <p> Ataköy 7-8-9-10. Kısım Mh.E-5 Yan Yol Caddesi No:16/1/A<br> Selenium Retro-9 A Blok 18/130 Bakırköy / İstanbul </p>
                                    </div>
                                </div>

                                <div class="mt-60">
                                    <h5 class="text-16 fw-500 mb-10">Bizi sosyal medyada takip edin</h5>
                                    <div class="d-flex x-gap-20 items-center justify-content-center">
                                        <a href="#"><i class="icon-facebook text-20"></i></a>
                                        <a href="#"><i class="icon-twitter text-20"></i></a>
                                        <a href="#"><i class="icon-instagram text-20"></i></a>
                                        <a href="#"><i class="icon-linkedin text-20"></i></a>
                                    </div>
                                </div>
                                <div class="mt-60">
                                    <img src="https://b2c.zarentravel.com/images/v-cards.png" />
                                    <img src="https://b2c.zarentravel.com/images/tursab.png" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="py-20 border-top-light">
                        <div class="row justify-between items-center y-gap-10">
                            <div class="col-auto">
                                <div class="row x-gap-30 y-gap-10">
                                    <div class="col-auto">
                                        <div class="d-flex items-center">
                                            2022 | Yucca Travel
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="col-auto">
                                <div class="row y-gap-10 items-center">
                                    <div class="col-auto">
                                        <div class="col-auto">
                                            <div class="d-flex x-gap-15">
                                                <a href="#">Gizlilik</a>
                                                <a href="#">Kullanım Şartları</a>
                                                <a href="#">Site Haritası</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </main>
    </RadzenBody>

</RadzenLayout>





