<h1 mat-dialog-title>passenger</h1>
<div mat-dialog-content>
    <form fxLayout="column" #passengerForm="ngForm">
       <mat-tab-group mat-align-tabs="start">
<mat-tab label="Tab 1">
<div fxLayout="row wrap" fxLayoutGap="30px">
           <div fxLayout="row wrap" fxLayoutGap="30px">
           <mat-form-field fxFlex>
                <input matInput placeholder="Passengerfullname" name="passengerFullName"[(ngModel)]="passengerObj.passengerFullName"
#passengerFullName="ngModel"  >
            
            </mat-form-field>
      
</div>
<div fxLayout="row wrap" fxLayoutGap="30px">
           <mat-form-field fxFlex>
                <input matInput placeholder="Passengerphone" name="passengerPhone"[(ngModel)]="passengerObj.passengerPhone"
#passengerPhone="ngModel"  >
            
            </mat-form-field>
      
</div>
<div fxLayout="row wrap" fxLayoutGap="30px">
           <mat-form-field fxFlex>
                <input matInput placeholder="Passengercelphone" name="passengerCelPhone"[(ngModel)]="passengerObj.passengerCelPhone"
#passengerCelPhone="ngModel"  >
            
            </mat-form-field>
      
</div>
<div fxLayout="row wrap" fxLayoutGap="30px">
           <mat-form-field fxFlex>
                <input matInput placeholder="Passengeremail" name="passengerEmail"[(ngModel)]="passengerObj.passengerEmail"
#passengerEmail="ngModel"  >
            
            </mat-form-field>
      
</div>
<div fxLayout="row wrap" fxLayoutGap="30px">
           <mat-form-field fxFlex>
                <input matInput placeholder="Passengerjobposition" name="passengerJobPosition"[(ngModel)]="passengerObj.passengerJobPosition"
#passengerJobPosition="ngModel"  >
            
            </mat-form-field>
      
</div>
<div fxLayout="row wrap" fxLayoutGap="30px">
           <mat-form-field fxFlex>
                <input matInput placeholder="Passengervıp" name="passengerVIP"[(ngModel)]="passengerObj.passengerVIP"
#passengerVIP="ngModel"  >
            
            </mat-form-field>
      
</div>

</div>
      </mat-tab>
<mat-tab label="Tab 2">
<div fxLayout="row wrap" fxLayoutGap="30px">
           <div fxLayout="row wrap" fxLayoutGap="30px">
           <mat-form-field fxFlex>
                <input matInput placeholder="Passemgertimestamp (dd-mm-yyyy)"
                    [ngModel]="passengerObj.passemgerTimestamp | date:'dd-MM-yyyy'" name="passemgerTimestamp"
                    pattern="(^(((0[1-9]|1[0-9]|2[0-8])[-](0[1-9]|1[012]))|((29|30|31)[-](0[13578]|1[02]))|((29|30)[-](0[4,6,9]|11)))[-](19|[2-9][0-9])\d\d$)|(^29[-]02[-](19|[2-9][0-9])(00|04|08|12|16|20|24|28|32|36|40|44|48|52|56|60|64|68|72|76|80|84|88|92|96)$)">
                <input matInput [hidden]='true' [matDatepicker]="passemgerTimestampPicker" name="hiddenawardDate"
                    [(ngModel)]="passengerObj.passemgerTimestamp">
                <mat-datepicker-toggle matSuffix [for]="passemgerTimestampPicker"></mat-datepicker-toggle>
                <mat-datepicker #passemgerTimestampPicker></mat-datepicker>
            </mat-form-field>
      
</div>
<div fxLayout="row wrap" fxLayoutGap="30px">
           <mat-form-field fxFlex>
                <input matInput placeholder="Passengeractive" name="passengerActive"[(ngModel)]="passengerObj.passengerActive"
#passengerActive="ngModel"  >
            
            </mat-form-field>
      
</div>

</div>
      </mat-tab>

</mat-tab-group>
    </form>
</div>

<div mat-dialog-actions>
    <div fxLayout="row wrap" fxFlex fxLayoutGap="10px" fxLayoutAlign="end start">
        <button mat-button mat-dialog-close tabindex="-1" cdkFocusInitial>Cancel</button>
        <button mat-raised-button color="primary" [disabled]="!passengerForm.valid || !passengerForm.dirty"
            (click)="savepassenger(passengerObj)">
            Add/Update
        </button>
    </div>
</div>