<h1 mat-dialog-title>companygroup</h1>
<div mat-dialog-content>
    <form fxLayout="column" #companygroupForm="ngForm">
       <div fxLayout="row wrap" fxLayoutGap="30px">
           <mat-form-field fxFlex>
                <input matInput placeholder="Cogrname" name="coGrName"[(ngModel)]="companygroupObj.coGrName"
#coGrName="ngModel"  >
            
            </mat-form-field>
      
</div>
<div fxLayout="row wrap" fxLayoutGap="30px">
           <mat-form-field fxFlex>
                <input matInput placeholder="Cogrtravelmanager" name="coGrTravelManager"[(ngModel)]="companygroupObj.coGrTravelManager"
#coGrTravelManager="ngModel"  >
            
            </mat-form-field>
      
</div>
<div fxLayout="row wrap" fxLayoutGap="30px">
           <mat-form-field fxFlex>
                <input matInput placeholder="Cogrtimestamp" name="coGrTimestamp"[(ngModel)]="companygroupObj.coGrTimestamp"
#coGrTimestamp="ngModel"  >
            
            </mat-form-field>
      
</div>
<div fxLayout="row wrap" fxLayoutGap="30px">
           <mat-form-field fxFlex>
                <input matInput placeholder="Cogractive" name="coGrActive"[(ngModel)]="companygroupObj.coGrActive"
#coGrActive="ngModel"  >
            
            </mat-form-field>
      
</div>


    </form>
</div>

<div mat-dialog-actions>
    <div fxLayout="row wrap" fxFlex fxLayoutGap="10px" fxLayoutAlign="end start">
        <button mat-button mat-dialog-close tabindex="-1" cdkFocusInitial>Cancel</button>
        <button mat-raised-button color="primary" [disabled]="!companygroupForm.valid || !companygroupForm.dirty"
            (click)="savecompanygroup(companygroupObj)">
            Add/Update
        </button>
    </div>
</div>