<h1 mat-dialog-title>accommodationextras</h1>
<div mat-dialog-content>
    <form fxLayout="column" #accommodationextrasForm="ngForm">
       <div fxLayout="row wrap" fxLayoutGap="30px">
           <mat-form-field fxFlex>
                <input matInput placeholder="Accommodationıd" name="accommodationId"[(ngModel)]="accommodationextrasObj.accommodationId"
#accommodationId="ngModel"  >
            
            </mat-form-field>
      
</div>
<div fxLayout="row wrap" fxLayoutGap="30px">
           <mat-form-field fxFlex>
                <input matInput placeholder="Extyıd" name="exTyId"[(ngModel)]="accommodationextrasObj.exTyId"
#exTyId="ngModel"  >
            
            </mat-form-field>
      
</div>
<div fxLayout="row wrap" fxLayoutGap="30px">
           <mat-form-field fxFlex>
                <input matInput placeholder="Acexdescription" name="acExDescription"[(ngModel)]="accommodationextrasObj.acExDescription"
#acExDescription="ngModel"  >
            
            </mat-form-field>
      
</div>
<div fxLayout="row wrap" fxLayoutGap="30px">
           <mat-form-field fxFlex>
                <input matInput placeholder="Acexfare" name="acExFare"[(ngModel)]="accommodationextrasObj.acExFare"
#acExFare="ngModel"  >
            
            </mat-form-field>
      
</div>
<div fxLayout="row wrap" fxLayoutGap="30px">
           <mat-form-field fxFlex>
                <input matInput placeholder="Acextimestamp (dd-mm-yyyy)"
                    [ngModel]="accommodationextrasObj.acExTimestamp | date:'dd-MM-yyyy'" name="acExTimestamp"
                    pattern="(^(((0[1-9]|1[0-9]|2[0-8])[-](0[1-9]|1[012]))|((29|30|31)[-](0[13578]|1[02]))|((29|30)[-](0[4,6,9]|11)))[-](19|[2-9][0-9])\d\d$)|(^29[-]02[-](19|[2-9][0-9])(00|04|08|12|16|20|24|28|32|36|40|44|48|52|56|60|64|68|72|76|80|84|88|92|96)$)">
                <input matInput [hidden]='true' [matDatepicker]="acExTimestampPicker" name="hiddenawardDate"
                    [(ngModel)]="accommodationextrasObj.acExTimestamp">
                <mat-datepicker-toggle matSuffix [for]="acExTimestampPicker"></mat-datepicker-toggle>
                <mat-datepicker #acExTimestampPicker></mat-datepicker>
            </mat-form-field>
      
</div>
<div fxLayout="row wrap" fxLayoutGap="30px">
           <mat-form-field fxFlex>
                <input matInput placeholder="Acexactive" name="acExActive"[(ngModel)]="accommodationextrasObj.acExActive"
#acExActive="ngModel"  >
            
            </mat-form-field>
      
</div>


    </form>
</div>

<div mat-dialog-actions>
    <div fxLayout="row wrap" fxFlex fxLayoutGap="10px" fxLayoutAlign="end start">
        <button mat-button mat-dialog-close tabindex="-1" cdkFocusInitial>Cancel</button>
        <button mat-raised-button color="primary" [disabled]="!accommodationextrasForm.valid || !accommodationextrasForm.dirty"
            (click)="saveaccommodationextras(accommodationextrasObj)">
            Add/Update
        </button>
    </div>
</div>