<h1 mat-dialog-title>airport</h1>
<div mat-dialog-content>
    <form fxLayout="column" #airportForm="ngForm">
       <div fxLayout="row wrap" fxLayoutGap="30px">
           <mat-form-field fxFlex>
                <input matInput placeholder="Airportcode" name="airportCode"[(ngModel)]="airportObj.airportCode"
#airportCode="ngModel"  >
            
            </mat-form-field>
      
</div>
<div fxLayout="row wrap" fxLayoutGap="30px">
           <mat-form-field fxFlex>
                <input matInput placeholder="Airportname" name="airportName"[(ngModel)]="airportObj.airportName"
#airportName="ngModel"  >
            
            </mat-form-field>
      
</div>
<div fxLayout="row wrap" fxLayoutGap="30px">
           <mat-form-field fxFlex>
                <input matInput placeholder="Countryıd" name="countryId"[(ngModel)]="airportObj.countryId"
#countryId="ngModel"  >
            
            </mat-form-field>
      
</div>
<div fxLayout="row wrap" fxLayoutGap="30px">
           <mat-form-field fxFlex>
                <input matInput placeholder="Cityıd" name="cityId"[(ngModel)]="airportObj.cityId"
#cityId="ngModel"  >
            
            </mat-form-field>
      
</div>
<div fxLayout="row wrap" fxLayoutGap="30px">
           <mat-form-field fxFlex>
                <input matInput placeholder="Airporttimestamp (dd-mm-yyyy)"
                    [ngModel]="airportObj.airportTimestamp | date:'dd-MM-yyyy'" name="airportTimestamp"
                    pattern="(^(((0[1-9]|1[0-9]|2[0-8])[-](0[1-9]|1[012]))|((29|30|31)[-](0[13578]|1[02]))|((29|30)[-](0[4,6,9]|11)))[-](19|[2-9][0-9])\d\d$)|(^29[-]02[-](19|[2-9][0-9])(00|04|08|12|16|20|24|28|32|36|40|44|48|52|56|60|64|68|72|76|80|84|88|92|96)$)">
                <input matInput [hidden]='true' [matDatepicker]="airportTimestampPicker" name="hiddenawardDate"
                    [(ngModel)]="airportObj.airportTimestamp">
                <mat-datepicker-toggle matSuffix [for]="airportTimestampPicker"></mat-datepicker-toggle>
                <mat-datepicker #airportTimestampPicker></mat-datepicker>
            </mat-form-field>
      
</div>
<div fxLayout="row wrap" fxLayoutGap="30px">
           <mat-form-field fxFlex>
                <input matInput placeholder="Airportactive" name="airportActive"[(ngModel)]="airportObj.airportActive"
#airportActive="ngModel"  >
            
            </mat-form-field>
      
</div>


    </form>
</div>

<div mat-dialog-actions>
    <div fxLayout="row wrap" fxFlex fxLayoutGap="10px" fxLayoutAlign="end start">
        <button mat-button mat-dialog-close tabindex="-1" cdkFocusInitial>Cancel</button>
        <button mat-raised-button color="primary" [disabled]="!airportForm.valid || !airportForm.dirty"
            (click)="saveairport(airportObj)">
            Add/Update
        </button>
    </div>
</div>