<h1 mat-dialog-title>company</h1>
<div mat-dialog-content>
    <form fxLayout="column" #companyForm="ngForm">
       <mat-tab-group mat-align-tabs="start">
<mat-tab label="Tab 1">
<div fxLayout="row wrap" fxLayoutGap="30px">
           <div fxLayout="row wrap" fxLayoutGap="30px">
           <mat-form-field fxFlex>
                <input matInput placeholder="Companycode" name="companyCode"[(ngModel)]="companyObj.companyCode"
#companyCode="ngModel"  >
            
            </mat-form-field>
      
</div>
<div fxLayout="row wrap" fxLayoutGap="30px">
           <mat-form-field fxFlex>
                <input matInput placeholder="Agencyıd" name="agencyId"[(ngModel)]="companyObj.agencyId"
#agencyId="ngModel"  >
            
            </mat-form-field>
      
</div>
<div fxLayout="row wrap" fxLayoutGap="30px">
           <mat-form-field fxFlex>
                <input matInput placeholder="Countryıd" name="countryId"[(ngModel)]="companyObj.countryId"
#countryId="ngModel"  >
            
            </mat-form-field>
      
</div>
<div fxLayout="row wrap" fxLayoutGap="30px">
           <mat-form-field fxFlex>
                <input matInput placeholder="Companyrepresentative" name="companyRepresentative"[(ngModel)]="companyObj.companyRepresentative"
#companyRepresentative="ngModel"  >
            
            </mat-form-field>
      
</div>
<div fxLayout="row wrap" fxLayoutGap="30px">
           <mat-form-field fxFlex>
                <input matInput placeholder="Cogrıd" name="coGrId"[(ngModel)]="companyObj.coGrId"
#coGrId="ngModel"  >
            
            </mat-form-field>
      
</div>
<div fxLayout="row wrap" fxLayoutGap="30px">
           <mat-form-field fxFlex>
                <input matInput placeholder="Codiıd" name="coDiId"[(ngModel)]="companyObj.coDiId"
#coDiId="ngModel"  >
            
            </mat-form-field>
      
</div>

</div>
      </mat-tab>
<mat-tab label="Tab 2">
<div fxLayout="row wrap" fxLayoutGap="30px">
           <div fxLayout="row wrap" fxLayoutGap="30px">
           <mat-form-field fxFlex>
                <input matInput placeholder="Languagesıd" name="languagesId"[(ngModel)]="companyObj.languagesId"
#languagesId="ngModel"  >
            
            </mat-form-field>
      
</div>
<div fxLayout="row wrap" fxLayoutGap="30px">
           <mat-form-field fxFlex>
                <input matInput placeholder="Currencyıd" name="currencyId"[(ngModel)]="companyObj.currencyId"
#currencyId="ngModel"  >
            
            </mat-form-field>
      
</div>
<div fxLayout="row wrap" fxLayoutGap="30px">
           <mat-form-field fxFlex>
                <input matInput placeholder="Inseıd" name="ınSeId"[(ngModel)]="companyObj.ınSeId"
#ınSeId="ngModel"  >
            
            </mat-form-field>
      
</div>
<div fxLayout="row wrap" fxLayoutGap="30px">
           <mat-form-field fxFlex>
                <input matInput placeholder="Companytimestamp (dd-mm-yyyy)"
                    [ngModel]="companyObj.companyTimestamp | date:'dd-MM-yyyy'" name="companyTimestamp"
                    pattern="(^(((0[1-9]|1[0-9]|2[0-8])[-](0[1-9]|1[012]))|((29|30|31)[-](0[13578]|1[02]))|((29|30)[-](0[4,6,9]|11)))[-](19|[2-9][0-9])\d\d$)|(^29[-]02[-](19|[2-9][0-9])(00|04|08|12|16|20|24|28|32|36|40|44|48|52|56|60|64|68|72|76|80|84|88|92|96)$)">
                <input matInput [hidden]='true' [matDatepicker]="companyTimestampPicker" name="hiddenawardDate"
                    [(ngModel)]="companyObj.companyTimestamp">
                <mat-datepicker-toggle matSuffix [for]="companyTimestampPicker"></mat-datepicker-toggle>
                <mat-datepicker #companyTimestampPicker></mat-datepicker>
            </mat-form-field>
      
</div>
<div fxLayout="row wrap" fxLayoutGap="30px">
           <mat-form-field fxFlex>
                <input matInput placeholder="Companyactive" name="companyActive"[(ngModel)]="companyObj.companyActive"
#companyActive="ngModel"  >
            
            </mat-form-field>
      
</div>

</div>
      </mat-tab>

</mat-tab-group>
    </form>
</div>

<div mat-dialog-actions>
    <div fxLayout="row wrap" fxFlex fxLayoutGap="10px" fxLayoutAlign="end start">
        <button mat-button mat-dialog-close tabindex="-1" cdkFocusInitial>Cancel</button>
        <button mat-raised-button color="primary" [disabled]="!companyForm.valid || !companyForm.dirty"
            (click)="savecompany(companyObj)">
            Add/Update
        </button>
    </div>
</div>