@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@inject DialogService DialogService
@inject ContextMenuService ContextMenuService
@inject TooltipService TooltipService
@inject NotificationService NotificationService
@page "/forgot-password"
<PageTitle>Forgot Password</PageTitle>
<main>
    <section class="vh-xxl-100">
        <div class="container h-100 d-flex px-0 px-sm-4">
            <div class="row justify-content-center align-items-center m-auto">
                <div class="col-12">
                    <div class="bg-mode shadow rounded-3 overflow-hidden">
                        <div class="row g-0">
                            <div class="col-lg-6 d-md-flex align-items-center order-2 order-lg-1">
                                <div class="p-3 p-lg-5">
                                    <img src="assets/images/element/forgot-pass.svg" alt="">
                                </div>
                                <div class="vr opacity-1 d-none d-lg-block"></div>
                            </div>
                            <div class="col-lg-6 order-1">
                                <div class="p-4 p-sm-7">
                                    <a href="/">
                                        <img class="mb-4 h-50px" src="/images/brand-primary-logo.png" alt="logo">
                                    </a>
                                    <h1 class="mb-2 h3" data-i18="resetpassword.forgotpassword"></h1>
                                    <p class="mb-sm-0" data-i18="resetpassword.enteremail"></p>
                                    <form class="mt-sm-4 text-start" action="@($"account/ResetPassword")" method="post">
                                        <div class="mb-3">
                                            <label class="form-label" data-i18="signin.email"></label>
                                            <input type="email" name="userName" class="form-control" required>
                                        </div>
                                        <div class="d-grid"><button type="submit" class="btn btn-primary" data-i18="forgot.password.reset"></button></div>
                                        <div class="mb-3 text-center">
                                            <p><a href="sign-in"><span data-i18="forgot.password.backto"></span></a></p>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<style>
    header {
        display: none !important
    }

    footer {
        display: none !important
    }

    .signin .rz-textbox {
        display: block;
        width: 100%;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: var(--bs-gray-900);
        background-color: var(--bs-body-bg);
        background-clip: padding-box;
        border: 1px solid var(--bs-gray-300);
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.5rem;
        -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
        transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    }

    .signin .form-check-input {
        --bs-form-check-bg: var(--bs-gray-200);
        width: 1em;
        height: 1em;
        margin-top: 0.25em;
        vertical-align: top;
        background-color: var(--bs-form-check-bg);
        background-image: var(--bs-form-check-bg-image);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        border: 1px solid var(--bs-gray-200);
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        print-color-adjust: exact;
    }

    .signin button {
        width: 100%;
        padding: 0.5rem 1rem;
        --bs-btn-padding-y: 1rem;
        --bs-btn-font-family:;
        --bs-btn-font-size: 1rem;
        --bs-btn-font-weight: 700;
        --bs-btn-line-height: 1.5;
        --bs-btn-color: #747579;
        --bs-btn-bg: transparent;
        --bs-btn-border-width: 5px;
        --bs-btn-border-color: transparent;
        --bs-btn-border-radius: 0.5rem;
        --bs-btn-hover-border-color: transparent;
        --bs-btn-box-shadow: none;
        --bs-btn-disabled-opacity: 0.65;
        --bs-btn-focus-box-shadow: 0 0 0 0 rgba(var(--bs-btn-focus-shadow-rgb), .5);
        display: inline-block;
        padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
        font-family: var(--bs-btn-font-family);
        font-size: var(--bs-btn-font-size);
        font-weight: var(--bs-btn-font-weight);
        line-height: var(--bs-btn-line-height);
        color: var(--bs-btn-color);
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
        border-radius: var(--bs-btn-border-radius);
        background-color: var(--bs-btn-bg);
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    .signin button {
        --bs-btn-color: #fff;
        --bs-btn-bg: #5143d9;
        --bs-btn-border-color: #5143d9;
        --bs-btn-hover-color: #fff;
        --bs-btn-hover-bg: #4539b8;
        --bs-btn-hover-border-color: #4136ae;
        --bs-btn-focus-shadow-rgb: 107, 95, 223;
        --bs-btn-active-color: #fff;
        --bs-btn-active-bg: #4136ae;
        --bs-btn-active-border-color: #3d32a3;
        --bs-btn-active-shadow: none;
        --bs-btn-disabled-color: #fff;
        --bs-btn-disabled-bg: #5143d9;
        --bs-btn-disabled-border-color: #5143d9;
    }
</style>

@code {
    protected bool isBusy;
    protected bool errorVisible;
    protected string error;
}
