<h1 mat-dialog-title>pcc</h1>
<div mat-dialog-content>
    <form fxLayout="column" #pccForm="ngForm">
       <div fxLayout="row wrap" fxLayoutGap="30px">
           <mat-form-field fxFlex>
                <input matInput placeholder="Pcccode" name="pCCCode"[(ngModel)]="pccObj.pCCCode"
#pCCCode="ngModel"  >
            
            </mat-form-field>
      
</div>
<div fxLayout="row wrap" fxLayoutGap="30px">
           <mat-form-field fxFlex>
                <input matInput placeholder="Pccıata" name="pCCIata"[(ngModel)]="pccObj.pCCIata"
#pCCIata="ngModel"  >
            
            </mat-form-field>
      
</div>
<div fxLayout="row wrap" fxLayoutGap="30px">
           <mat-form-field fxFlex>
                <input matInput placeholder="Agencyıd" name="agencyId"[(ngModel)]="pccObj.agencyId"
#agencyId="ngModel"  >
            
            </mat-form-field>
      
</div>
<div fxLayout="row wrap" fxLayoutGap="30px">
           <mat-form-field fxFlex>
                <input matInput placeholder="Gdsıd" name="gDSId"[(ngModel)]="pccObj.gDSId"
#gDSId="ngModel"  >
            
            </mat-form-field>
      
</div>
<div fxLayout="row wrap" fxLayoutGap="30px">
           <mat-form-field fxFlex>
                <input matInput placeholder="Pcctimestamp (dd-mm-yyyy)"
                    [ngModel]="pccObj.pCCTimestamp | date:'dd-MM-yyyy'" name="pCCTimestamp"
                    pattern="(^(((0[1-9]|1[0-9]|2[0-8])[-](0[1-9]|1[012]))|((29|30|31)[-](0[13578]|1[02]))|((29|30)[-](0[4,6,9]|11)))[-](19|[2-9][0-9])\d\d$)|(^29[-]02[-](19|[2-9][0-9])(00|04|08|12|16|20|24|28|32|36|40|44|48|52|56|60|64|68|72|76|80|84|88|92|96)$)">
                <input matInput [hidden]='true' [matDatepicker]="pCCTimestampPicker" name="hiddenawardDate"
                    [(ngModel)]="pccObj.pCCTimestamp">
                <mat-datepicker-toggle matSuffix [for]="pCCTimestampPicker"></mat-datepicker-toggle>
                <mat-datepicker #pCCTimestampPicker></mat-datepicker>
            </mat-form-field>
      
</div>
<div fxLayout="row wrap" fxLayoutGap="30px">
           <mat-form-field fxFlex>
                <input matInput placeholder="Pccactive" name="pCCActive"[(ngModel)]="pccObj.pCCActive"
#pCCActive="ngModel"  >
            
            </mat-form-field>
      
</div>


    </form>
</div>

<div mat-dialog-actions>
    <div fxLayout="row wrap" fxFlex fxLayoutGap="10px" fxLayoutAlign="end start">
        <button mat-button mat-dialog-close tabindex="-1" cdkFocusInitial>Cancel</button>
        <button mat-raised-button color="primary" [disabled]="!pccForm.valid || !pccForm.dirty"
            (click)="savepcc(pccObj)">
            Add/Update
        </button>
    </div>
</div>