<h1 mat-dialog-title>passengerınformation</h1>
<div mat-dialog-content>
    <form fxLayout="column" #passengerınformationForm="ngForm">
       <mat-tab-group mat-align-tabs="start">
<mat-tab label="Tab 1">
<div fxLayout="row wrap" fxLayoutGap="30px">
           <div fxLayout="row wrap" fxLayoutGap="30px">
           <mat-form-field fxFlex>
                <input matInput placeholder="Pnrpaxıd" name="pnrpaxId"[(ngModel)]="passengerınformationObj.pnrpaxId"
#pnrpaxId="ngModel"  >
            
            </mat-form-field>
      
</div>
<div fxLayout="row wrap" fxLayoutGap="30px">
           <mat-form-field fxFlex>
                <input matInput placeholder="Pnr" name="pnr"[(ngModel)]="passengerınformationObj.pnr"
#pnr="ngModel"  required  >
            <mat-error *ngIf="pnr.hasError('required')">
                    Please enter the value..
                </mat-error>
            </mat-form-field>
      
</div>
<div fxLayout="row wrap" fxLayoutGap="30px">
           <mat-form-field fxFlex>
                <input matInput placeholder="Paxsequence" name="paxSequence"[(ngModel)]="passengerınformationObj.paxSequence"
#paxSequence="ngModel"  >
            
            </mat-form-field>
      
</div>
<div fxLayout="row wrap" fxLayoutGap="30px">
           <mat-form-field fxFlex>
                <input matInput placeholder="Title" name="title"[(ngModel)]="passengerınformationObj.title"
#title="ngModel"  >
            
            </mat-form-field>
      
</div>
<div fxLayout="row wrap" fxLayoutGap="30px">
           <mat-form-field fxFlex>
                <input matInput placeholder="Firstname" name="firstName"[(ngModel)]="passengerınformationObj.firstName"
#firstName="ngModel"  >
            
            </mat-form-field>
      
</div>
<div fxLayout="row wrap" fxLayoutGap="30px">
           <mat-form-field fxFlex>
                <input matInput placeholder="Lastname" name="lastName"[(ngModel)]="passengerınformationObj.lastName"
#lastName="ngModel"  >
            
            </mat-form-field>
      
</div>

</div>
      </mat-tab>
<mat-tab label="Tab 2">
<div fxLayout="row wrap" fxLayoutGap="30px">
           <div fxLayout="row wrap" fxLayoutGap="30px">
           <mat-form-field fxFlex>
                <input matInput placeholder="Adultıd" name="adultId"[(ngModel)]="passengerınformationObj.adultId"
#adultId="ngModel"  >
            
            </mat-form-field>
      
</div>
<div fxLayout="row wrap" fxLayoutGap="30px">
           <mat-form-field fxFlex>
                <input matInput placeholder="Nationalitycode" name="nationalityCode"[(ngModel)]="passengerınformationObj.nationalityCode"
#nationalityCode="ngModel"  >
            
            </mat-form-field>
      
</div>
<div fxLayout="row wrap" fxLayoutGap="30px">
           <mat-form-field fxFlex> 
                <input matInput placeholder="Totalfare" type="number" name="totalFare"[(ngModel)]="passengerınformationObj.totalFare"
#totalFare="ngModel"   >
               
            </mat-form-field>
      
</div>
<div fxLayout="row wrap" fxLayoutGap="30px">
           <mat-form-field fxFlex> 
                <input matInput placeholder="Totaltaxchg" type="number" name="totalTaxchg"[(ngModel)]="passengerınformationObj.totalTaxchg"
#totalTaxchg="ngModel"   >
               
            </mat-form-field>
      
</div>
<div fxLayout="row wrap" fxLayoutGap="30px">
           <mat-form-field fxFlex> 
                <input matInput placeholder="Totalpaid" type="number" name="totalPaid"[(ngModel)]="passengerınformationObj.totalPaid"
#totalPaid="ngModel"   >
               
            </mat-form-field>
      
</div>
<div fxLayout="row wrap" fxLayoutGap="30px">
           <mat-form-field fxFlex>
                <input matInput placeholder="Fıle_ıd" name="fILE_ID"[(ngModel)]="passengerınformationObj.fILE_ID"
#fILE_ID="ngModel"  >
            
            </mat-form-field>
      
</div>
<div fxLayout="row wrap" fxLayoutGap="30px">
           <mat-form-field fxFlex>
                <input matInput placeholder="Fıle_name" name="fILE_NAME"[(ngModel)]="passengerınformationObj.fILE_NAME"
#fILE_NAME="ngModel"  >
            
            </mat-form-field>
      
</div>
<div fxLayout="row wrap" fxLayoutGap="30px">
           <mat-form-field fxFlex>
                <input matInput placeholder="Recorddatestamp (dd-mm-yyyy)"
                    [ngModel]="passengerınformationObj.recordDateStamp | date:'dd-MM-yyyy'" name="recordDateStamp"
                    pattern="(^(((0[1-9]|1[0-9]|2[0-8])[-](0[1-9]|1[012]))|((29|30|31)[-](0[13578]|1[02]))|((29|30)[-](0[4,6,9]|11)))[-](19|[2-9][0-9])\d\d$)|(^29[-]02[-](19|[2-9][0-9])(00|04|08|12|16|20|24|28|32|36|40|44|48|52|56|60|64|68|72|76|80|84|88|92|96)$)">
                <input matInput [hidden]='true' [matDatepicker]="recordDateStampPicker" name="hiddenawardDate"
                    [(ngModel)]="passengerınformationObj.recordDateStamp">
                <mat-datepicker-toggle matSuffix [for]="recordDateStampPicker"></mat-datepicker-toggle>
                <mat-datepicker #recordDateStampPicker></mat-datepicker>
            </mat-form-field>
      
</div>

</div>
      </mat-tab>

</mat-tab-group>
    </form>
</div>

<div mat-dialog-actions>
    <div fxLayout="row wrap" fxFlex fxLayoutGap="10px" fxLayoutAlign="end start">
        <button mat-button mat-dialog-close tabindex="-1" cdkFocusInitial>Cancel</button>
        <button mat-raised-button color="primary" [disabled]="!passengerınformationForm.valid || !passengerınformationForm.dirty"
            (click)="savepassengerınformation(passengerınformationObj)">
            Add/Update
        </button>
    </div>
</div>